h1{
    background-color: black;
    color: green;
    padding: 20px;
    text-align: center;
    font-weight: 800;
}

h2{
    background-color: black;
    color: green;
    padding: 50px;
    font-weight: 700;
}